#function {
	float: left;
	width: 90%;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding-top: 0em;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#function input.button[class] {
    width: auto;
	}
#function form {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}

#function input, #function textarea, #function select {
	color: #333333;
	font-size: 12px;
	font-family: Verdana;
}
#function h1 {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	color: #000000;
	line-height: 22px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}

#function h2 {
	font-size: 14px;
	margin: 0px;
	width: auto;
	color: #000000;
	line-height: 16px;
	font-weight: bold;
	display: block;
	clear: both;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	background-color: #CCCCCC;
	background-image: url(images/bgoption.png);
	background-repeat: repeat-x;
	font-family: "Times New Roman", Times, serif;
	text-transform: capitalize;
}
#function h4 {
	font-size: 22px;
	margin: 0px;
	color: #000000;
	line-height: 24px;
	font-weight: normal;
	border-bottom: 2px solid #eee;
	font-family: "Times New Roman", Times, serif;
	clear: both;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: block;
	width: 100%;
	text-transform: capitalize;
}

#function p {
	margin: 0px;
	padding: 5px 0px;
	float: left;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
}
#function p a {
	color: #0033FF;
	text-decoration: underline;
}
#function .note {
	margin: 2em 0px 0px;
	padding: 1%;
	float: left;
	width: 70%;
	background: #E8E9E3;
	border: 1px solid #CBCDBE;
	-moz-border-radius: 10px;
	font-size: 13px;
	line-height: 22px;
}
#function pre {
	margin: 8px 0px;
	padding: 10px;
	clear: both;
	width: 92%;
	overflow: scroll;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	background: #FFFFFF;
	color: #000000;
	font-size: 13px;
	line-height: 22px;
	white-space: nowrap;
	border: 1px solid #eeeeee;
}

#function #note {
	margin: 2em 0px 0px;
	padding: 1%;
	float: left;
	width: 50%;
	border: 1px solid #D9FD95;
	-moz-border-radius: 10px;
}
#function #update-option {
	margin: 2em 0px 0px;
	padding: 1%;
	float: left;
	width: 70%;
	border: 1px solid #FDBE00;
	-moz-border-radius: 10px;
	font-size: 15px!important;
	font-weight: 400!important;
	color: #000000!important;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	background-color: #0099FF;
}


#function .opening {
	padding: 1%;
	width: 90%;
	font-size: 14px;
	line-height: 22px;
	clear: both;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
}
#function .opening p {
	font-size: 12px;
}
#function .get-option {
	width: 400px;
	border: 1px solid #D5D5D5;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 0em;
	margin-left: 0px;
	display: block;
	background-color: #FBFBFB;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	float: left;
	height: 300px;
}
.option-save {
	margin: 0px;
	padding: 2%;
	width: 96%;
}

#function .get-option .description {
	font-size: 12px;
	padding: 0px;
	width: 100%;
	line-height: 14px;
	color: #333333;
	font-family: Verdana;
	display: block;
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}
#function .get-option .description em {
	font-size: 11px;
	font-style: normal;
	color: #000000;
	font-weight: normal;
	font-family: Verdana;
	height: auto;
	width: auto;
	margin: 0px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}

#function .get-option .myfield {
	padding: 3px 2px;
	width: 90%;
	background: #FFFFFF;
	border-top: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
	border-bottom: 2px solid #C0C0C0;
	border-left: 1px solid #D6D6D6;
}
#function .get-option p {
	padding: 0px;
	float: left;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}
#function .get-option .mytext {
	padding: 3px 2px;
	width: 98%;
	background: #FFFFFF;
	border-top: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
	border-bottom: 2px solid #C0C0C0;
	border-left: 1px solid #D6D6D6;
	height: 120px;
}
#function .get-option .myselect {
	padding: 3px 2px;
	width: 50%;
	background: #FFFFFF;
	border-top: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
	border-bottom: 2px solid #C0C0C0;
	border-left: 1px solid #D6D6D6;
}
#function .get-option ul {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	list-style-type: none;
}
#function .get-option ul li {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 30%;
	list-style-type: none;
	height: 25px;
}
#function .get-option ul li label {
	width: 60%;
	float: left;
}

#function .save-p {
	padding: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#function .rbutton {
	margin: 0px;
	font-size: 16px;
	color: #000;
	line-height: 22px;
	width: 150px;
	overflow: visible;
	-moz-border-radius: 5px;
	background-color: #CCC;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
	display: block;
}
#function .sbutton {
	margin: 0px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
	width: 150px;
	overflow: visible;
	-moz-border-radius: 5px;
	background-color: #499ed4;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
	display: block;
	font-weight: bold;
	font-family: Verdana, sans-serif;
}

#function .sbutton:hover {
	margin: 0px;
	font-size: 16px;
	color: #f7f7f7;
	line-height: 25px;
	width: 150px;
	overflow: visible;
	-moz-border-radius: 5px;
	background-color: #666666;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
}

.clearfix {
	clear: both;
}
.redbold {
	color: #CC3300;
	font-weight: bold;
}
#function .get-option .savingbox {
	padding: 0px;
	clear: both;
	height: auto;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}
#function .get-option .savingbox p {
	padding: 0px;
	float: left;
	width: auto;
	height: auto;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#function .get-option .savebox {
	display: block;
	width: auto;
	padding: 0px;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	float: left;

}
#function .get-option .savebutton {
	margin: 0px;
	padding: 4px;
	font-size: 13px;
	color: #000000;
	width: auto;
	overflow: visible;
	-moz-border-radius: 8px;
	height: auto;
	background-color: #ECE9D8;
	float: left;
	font-family: Arial, Helvetica, sans-serif, Verdana;
}
#function .get-option .savebutton:hover {
	overflow: visible;
	-moz-border-radius: 8px;
	text-decoration: none;
	background-color: #FFFFFF;
}
